[Unit]
Description=Configure RAID1 volume for container storage
ConditionPathExists=!/dev/md/containers
Requires=sysinit.target
After=sysinit.target
Before=basic.target

[Service]
Type=oneshot
ExecStart=/usr/local/libexec/setup-raid.sh
RemainAfterExit=true

[Install]
WantedBy=local-fs-pre.target