[Unit]
Requires=systemd-fsck@dev-md-containers.service
After=systemd-fsck@dev-md-containers.service

[Mount]
Where=/var/lib/containers
What=/dev/md/containers
Type=xfs

[Install]
RequiredBy=local-fs.target