[Unit]
Description=Reboot {{ .Values.global.update.frequency }}

[Timer]
OnCalendar={{ .Values.global.update.frequency }} {{ .Values.global.update.timezone }}
RandomizedDelaySec=1h
Unit=reboot.service

[Install]
WantedBy=timers.target
