[connection]
id=eno1
type=ethernet
autoconnect=true
interface-name=eno1

[ipv4]
dns={{ .Values.global.network.dns }}
address1={{ .Values.network.g1.ip }}
gateway={{ .Values.global.network.gateway }}
method=manual