[connection]
id=1g
type=ethernet
autoconnect=true

[ethernet]
mac-address={{ .Values.network.g1.mac }}

[ipv4]
dns={{ .Values.global.network.dns }}
address1={{ .Values.network.g1.ip }}
gateway={{ .Values.global.network.gateway }}
method=manual