[Unit]
Description=Downloads
Before=containerd.service
After=network-online.target

[Mount]
What=qnap.studiop:/mnt/storage/downloads
Where=/var/mnt/downloads
Type=nfs
Options=_netdev,auto,addr=qnap.studiop,rw,nolock,proto=tcp,rsize=1048576,wsize=1048576,timeo=15,nfsvers=4

[Install]
WantedBy=multi-user.target