---
systemd:
  units:
    - name: docker.service
      enabled: true
    - name: var-lib-docker.mount
      enabled: true
      contents: |
{{ tmpl.Exec "systemd/docker.mount" . | indent 8 }}
    - name: portainer.service
      enabled: true
      contents: |
{{ tmpl.Exec "systemd/portainer.service" . | indent 8 }}
storage:
  disks:
    - device: /dev/disk/by-id/{{ .values.disks.ssd1 }}
      wipe_table: {{ .values.wipe.partition }}
      partitions:
        - label: docker1
    - device: /dev/disk/by-id/{{ .values.disks.ssd2 }}
      wipe_table: {{ .values.wipe.partition }}
      partitions:
        - label: docker2
  raid:
    - name: {{ .values.raid.name }}
      level: mirror
      devices:
        - /dev/disk/by-id/{{ .values.disks.ssd1 }}-part1
        - /dev/disk/by-id/{{ .values.disks.ssd2 }}-part1
  filesystems:
    - name: docker
      mount:
        device: /dev/md/{{ .values.raid.name }}
        format: ext4
        wipe_filesystem: {{ .values.wipe.filesystem }}
        label: docker
  files:
    - path: /etc/ssh/sshd_config
      filesystem: root
      mode: 0600
      contents:
        inline: |
{{ tmpl.Exec "files/sshd_config" . | indent 10 }}
    - path: {{ .values.docker.compose.dir }}/compose.yml
      filesystem: root
      mode: 765
      user:
        name: {{ .values.docker.user }}
      group:
        name: {{ .values.docker.user }}
      contents:
        remote:
          url: https://raw.githubusercontent.com/paulhutchings/compose/master/portainer/compose.yml
    - path: {{ .values.docker.compose.dir }}/docker-compose
      filesystem: root
      mode: 755
      user:
        name: {{ .values.docker.user }}
      group:
        name: {{ .values.docker.user }}
      contents:
        remote:
          url: https://github.com/docker/compose/releases/download/{{ .values.docker.compose.version }}/docker-compose-linux-x86_64
passwd:
  users:
    - name: core
      ssh_authorized_keys:
        - {{ template "files/flatcar.pub" }}
networkd:
  units:
    - name: 00-1g-static.network
      contents: |
{{ tmpl.Exec "systemd/1g.network" . | indent 8 }}
    - name: 00-10g-static.network
      contents: |
{{ tmpl.Exec "systemd/10g.network" . | indent 8 }}