[Match]
MACAddress={{ .Values.network.g1.mac }}

[Network]
DNS={{ .Values.global.network.dns }}
Address={{ .Values.network.g1.ip }}
Gateway={{ .Values.global.network.gateway }}