{{- $fs := .values.storage.filesystems.docker -}}
[Unit]
Before=local-fs.target

[Mount]
What={{ $fs.device }}
Where=/var/lib/docker
Type={{ index $fs "format" | default .global.defaults.storage.format }}

[Install]
WantedBy=local-fs.target