[Unit]
After=docker.service
Requires=docker.service

[Service]
Environment="COMPOSE_PROJECT_NAME=portainer"
Environment="COMPOSE_FILE={{ .values.docker.compose.stacks.portainer }}"
ExecStart={{ .values.docker.compose.path }} up --detach
User={{ .values.docker.user }}
Group={{ .values.docker.user }}

[Install]
WantedBy=multi-user.target